<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="..//styles/styles.css"> 
  
</head>
<body>

    <div class="login-container">
        <h2>Iniciar Sesión</h2>
        <form id="login-form">
            <input type="text" id="username" placeholder="Nombre de Usuario" autocomplete="username" required value="recepcionista1">
            <input type="password" id="password" placeholder="Contraseña" required value="password1">
            <button type="submit">Ingresar</button>
        </form>
        <p id="message"></p>
    </div>

    <script src="../scripts/index.js"></script>

</body>
</html>